{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
    <h1 class="page-title"> Sobre mí
        <small>Aquí puedes seleccionar los filtros por los que aparecerás en el motor de búsqueda</small>
    </h1>
    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form class="form-horizontal" method="POST">
            <div class="form-body col-md-offset-2 col-md-8">
                {# categoria #}
                <div class="form-group">
                    <label class="control-label col-md-3">{{filters[1].name}}</label>
                    <div class="col-md-9">
                        <div class="btn-group bootstrap-select bs-select form-control">
                            <select name="filter[{{filters[1].id}}]" class="bs-select form-control" tabindex="-98">
                                {% for subfilter in filters[1].sub_filters %}
                                    <option value="{{subfilter.subfilter_id}}">{{subfilter.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>

                {# tipo #}
                <div class="form-group">
                    <label class="control-label col-md-3">{{filters[2].name}}</label>
                    <div class="col-md-9">
                        <div class="btn-group bootstrap-select bs-select form-control">
                            <select name="filter[{{filters[2].id}}]" class="bs-select form-control" tabindex="-98">
                                {% for subfilter in filters[2].sub_filters %}
                                    <option value="{{subfilter.subfilter_id}}">{{subfilter.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>

                {# precio #}
                <div class="form-group slider-container">
                    <label class="control-label col-md-3">{{filters[3].name}}</label>
                    <div class="col-md-9" style="padding-left:30px;">
                        <div class="slider-wrapper green">
                            <input class="input-range" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-tooltip="always" data-slider-max="9.99" data-slider-step="0.01" data-slider-value="0"/>
                        </div>
                    </div>
                </div>

                {# edad #}
                <div class="form-group">
                    <label class="control-label col-md-3">{{filters[5].name}}</label>
                    <div class="col-md-9">
                        <div class="btn-group bootstrap-select bs-select form-control">
                            <div class="col-md-4" style="padding-left:0;">
                            <table style="width:100%;">
                                <tr>
                                    <td>
                                        <label for="day">Dia</label>
                                    </td>
                                    <td>
                                        <select id="day" name="day" class="bs-select form-control" tabindex="-98">
                                        {% for i in 1..31 %}
                                        <option>{{i}}</option>
                                        {% endfor %}
                                        </select>
                                    </td>
                                </tr>
                            </table>
                                
                                
                            </div>

                            <div class="col-md-4">
                                <table style="width:100%;">
                                    <tr>
                                        <td>
                                            <label for="month">Mes</label>
                                        </td>
                                        <td>
                                            <select id="month" name="month" class="bs-select form-control" tabindex="-98">
                                            {% for i in 1..12 %}
                                            <option>{{i}}</option>
                                            {% endfor %}
                                            </select>
                                        </td>
                                    </tr>
                                </table>
                            </div>

                            <div class="col-md-4" style="padding-right:0;">
                                <table style="width:100%;">
                                    <tr>
                                        <td>
                                            <label for="year">Año</label>
                                        </td>
                                        <td>
                                            <select id="year" name="year" class="bs-select form-control" tabindex="-98">
                                            {% set startyear = "now"|date('Y') - 17 %}
                                            {% for i in startyear..1920 %}
                                            <option>{{i}}</option>
                                            {% endfor %}
                                            </select>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                {# etnia #}
                <div class="form-group">
                    <label class="control-label col-md-3">{{filters[6].name}}</label>
                    <div class="col-md-9">
                        <div class="btn-group bootstrap-select bs-select form-control">
                            <select name="filter[{{filters[6].id}}]" class="bs-select form-control" tabindex="-98">
                                {% for subfilter in filters[6].sub_filters %}
                                    <option value="{{subfilter.subfilter_id}}">{{subfilter.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>

                {# características #}
                <div class="form-group">
                    <label class="control-label col-md-3">{{filters[7].name}}</label>
                    <div class="col-md-9">
                        <div class="mt-radio-list" style="padding-top:7px;">
                            {% for subfilter in filters[7].sub_filters %}
                                <label class="mt-radio mt-radio-outline"> {{subfilter.name}}
                                    <input type="radio" value="filter[{{filters[7].id}}][{{subfilter.subfilter_id}}]" name="filter[{{filters[7].id}}][{{subfilter.subfilter_id}}]">
                                    <span></span>
                                </label>
                            {% endfor %}
                        </div>

                    </div>
                </div>

                {# cabello #}
                <div class="form-group">
                    <label class="control-label col-md-3">{{filters[8].name}}</label>
                    <div class="col-md-9">
                        <div class="btn-group bootstrap-select bs-select form-control">
                            <select name="filter[{{filters[8].id}}]" class="bs-select form-control" tabindex="-98">
                                {% for subfilter in filters[8].sub_filters %}
                                    <option value="{{subfilter.subfilter_id}}">{{subfilter.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>

                {# tags #}
                <div class="form-group">
                    <label class="control-label col-md-3">{{filters[4].name}}</label>
                    <div class="col-md-9">
                        <input type="text" value="Amsterdam,Washington,Sydney,Beijing,Cairo" data-role="tagsinput" style="display: none;">
                    </div>
                </div>
            </div>
            <div class="form-actions col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <button type="submit" class="btn green"><i class="fa fa-check"></i> Enviar</button>
                        <button type="button" name="cancel" class="btn grey-salsa btn-outline" style="float:right;">Cancelar</button>
                    </div>
                </div>
            </div>
        </form>
        <!-- END FORM-->
    </div>
{% endblock %}