{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
    <h1 class="page-title"> {{text.title}}
        <small>{{text.subtitle}}</small>
    </h1>
    <div class="col-md-12">
        <div id="dropzone" data-uid="{{userId}}">
            <form class="dropzone needsclick" id="demo-upload" action="/upload">
            <div class="dz-message needsclick">    
                {#Drop files here or click to upload.#}
                {{text.dropzone_1}}.<br><br>
                {{text.dropzone_2}}
            </div>
            </form>
        </div>
    </div>
    <div class="col-md-12">
        {% if galleryImages is empty or galleryImages == false %}
            <div class="note note-info">
                <p>{{text.no_image_text}}</p>
            </div>
        {% else %}
            <div class="note note-info"><p>{{text.order_title}}</p></div>
            <div id="sortable" class="col-md-12">
            {% for image in galleryImages %}
                <div class="col-md-2">
                        <img class="image{% if image.favorite == 1 %} favorite{% endif %}" src="/assets/images/user/{{userId}}/gallery/{{image.name}}" data-id="{{image.id}}" data-uid="{{userId}}" alt="{{image.name}}">
                        <div class="deleteImage" title="{{text.delete_title}}"><i class="fa fa-trash-o"></i></div>
                        <div class="favoriteImage" title="{{text.favorite_title}}"><i class="fa fa-star"></i></div>
                </div>
            {% endfor %}
                </div>
        {% endif %}
    </div>
{% endblock %}