{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
    <h1 class="page-title"> Tu cesta.
        <small>¡Aquí puedes comprar los productos que quieras!</small>
    </h1>
    <div class="col-md-12">
        <div class="col-sm-12 col-md-8 mt-sm-8">
            <table class="col-sm-12 table table-striped table-hover table-bordered">
            {% for product in cart %}
                <tr id="product{{product.product_id}}">
                    <td class="align-middle">
                        <div class="text-center col-sm-12 col-md-4 row">
                            <img src="{{product.image}}" class="img-thumbnail">
                        </div>
                        <div class="col-sm-12 col-md-8 row" style="padding-top:20px;">
                            <div class="col-sm-12"><span class="caption-subject font-green-sharp sbold">{{product.title}}</span></div>
                            <div class="col-sm-12"><h5>{{product.subtitle}}</h5></div>
                            <div class="col-sm-12"><span>Añadido el </span><span>{{product.date_added|date('d-m-Y')}}</span><span> a las </span><span>{{product.date_added|date('H:i:s')}}</span></div>
                            <div class="col-sm-12"><span>Cantidad </span><span class="quantity">{{product.quantity}}</span></div>
                            <div class="col-sm-12"><span>Precio </span><span class="price">{{product.price * product.quantity}}</span><span>€</span></div>
                            <div class="col-sm-12 text-center"><a class="btn btn-danger" href="javascript:removeFromCart({{product.product_id}});">Quitar</a> <a class="btn btn-success" href="javascript:addToCart({{product.product_id}});">Añadir</a> </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </table>
        </div>        
        <div class="col-sm-12 col-md-4">
            <div class="portlet light bordered col-sm-12">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-basket font-green-sharp"></i>
                        <span class="caption-subject font-green-sharp sbold">Tu cesta</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <table class="col-sm-12 table table-striped table-hover table-bordered">                
                        {% if cart is not empty %}
                        <tr>
                            <th>Producto</th>
                            <th class="text-right">Cantidad</th>
                            <th class="text-right">Precio</th>
                        </tr>
                        {% else %}
                        <tr>
                            <td>Tu cesta está vacía</td>
                        </tr>
                        {% endif %}
                        {% set Total = 0 %}
                        {% for product in cart %}
                            <tr>
                                <td class="text-left">{{product.title}}</td>
                                <td class="text-right">{{product.quantity}}</td>
                                <td class="text-right">{{product.price * product.quantity}} €</td>
                            </tr>
                        {% set Total = Total + (product.price * product.quantity) %} 
                        {% endfor %}
                        {% if cart is not empty %}
                            <tr>
                                <td class="text-right" colspan="2"><strong>Total</strong></td>
                                <td class="text-right"><strong>{{Total}} €</strong></td>
                            </tr>
                        {% endif %}
                    </table>
                    {% if cart is not empty %}
                    <div class="col-sm-8 col-sm-offset-2 col-md-12 col-md-offset-0 col-xl-8 col-xl-offset-2 text-center">
                       {# <a class="btn btn-success col-sm-12" href="{{url_paypal}}">Proceder con el pago</a>
                        <div id="paypal-button"></div>
                        #}
                        <div id="paypal-button-container"></div>
                        <div id="paypal-button"></div>
                    </div>
                    
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

   
{% endblock %}

{% block custom_scripts %}
<!-- Load PayPal's checkout.js Library. -->
<script src="https://www.paypalobjects.com/api/checkout.js" data-version-4 log-level="warn"></script>
<script>
paypal.Button.render({
env: '{{PayPalENV}}',
client: {
{{PayPalENV}}: '{{PayPalClientId}}'
},
payment: function (data, actions) {
return actions.payment.create({
    transactions: [{
        amount: {
            total: '{{PayPalPrice}}',
            currency: '{{PayPalCurrency}}'
        }
    }]
});
},
onAuthorize: function (data, actions) {
return actions.payment.execute()
.then(function () {
    console.log(data);
//window.location = "{{PayPalBaseUrl}}orderDetails.php?paymentID="+data.paymentID+"&payerID="+data.payerID+"&token="+data.paymentToken+"&pid={{PayPalPid}}";
});
}
}, '#paypal-button');


</script>
{#}
<!-- Load the client component. -->
<script src="https://js.braintreegateway.com/web/3.43.0/js/client.min.js"></script>

<!-- Load the PayPal Checkout component. -->
<script src="https://js.braintreegateway.com/web/3.43.0/js/paypal-checkout.min.js"></script>#}
{% endblock %}