<div class="page-sidebar-wrapper">
    {# BEGIN SIDEBAR #}
    {# DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing #}
    {# DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed #}
    <div class="page-sidebar ">
        {# BEGIN SIDEBAR MENU #}
        {# DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) #}
        {# DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode #}
        {# DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode #}
        {# DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing #}
        {# DOC: Set data-keep-expand="true" to keep the submenues expanded #}
        {# DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed #}
        <ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
            {# DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element #}
            {# BEGIN SIDEBAR TOGGLER BUTTON #}
            <li class="sidebar-toggler-wrapper hide">
                <div class="sidebar-toggler">
                    <span></span>
                </div>
            </li>
            {# END SIDEBAR TOGGLER BUTTON #}
            {# BEGIN OFFCANVAS SIDEBAR TOGGLER BUTTON #}
            <li class="sidebar-mobile-offcanvas-toggler">
                {# BEGIN SIDEBAR TOGGLER BUTTON #}
                <a href="#" class="responsive-toggler">
                    <i class="icon-logout"></i>
                </a>
            </li>
            {# END OFFCANVAS SIDEBAR TOGGLER BUTTON #}
            {# DOC: To remove the search box from the sidebar you just need to completely remove the below "sidebar-search-wrapper" LI element #}
            <li class="sidebar-search-wrapper">
                {# BEGIN RESPONSIVE QUICK SEARCH FORM #}
                {# DOC: Apply "sidebar-search-bordered" class the below search form to have bordered search box #}
                {# DOC: Apply "sidebar-search-bordered sidebar-search-solid" class the below search form to have bordered & solid search box #}
                <form class="sidebar-search  " action="page_general_search_3.html" method="POST">
                    <a href="javascript:;" class="remove">
                        <i class="icon-close"></i>
                    </a>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <a href="javascript:;" class="btn submit">
                                <i class="icon-magnifier"></i>
                            </a>
                        </span>
                    </div>
                </form>
                {# END RESPONSIVE QUICK SEARCH FORM #}
            </li>
            <li class="nav-item start {% if controller_name == 'Dashboard' %}active open{% endif %}">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="icon-home"></i>
                    <span class="title">{{text.menu_item_1}}</span>
                    <span class="arrow {% if controller_name == 'Dashboard' %}open{% endif %}"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item start {% if controller_name == 'Dashboard' and function_name == 'index' %}active open{% endif %}">
                        <a href="/{{lang}}/dashboard" class="nav-link ">
                            <i class="icon-bar-chart"></i>
                            <span class="title">{{text.menu_item_1_1}}</span>
                        </a>
                    </li>
                </ul>
            </li>

            {# comerces #}
            <li class="heading">
                <h3 class="uppercase">{{text.menu_item_2_title}}</h3>
            </li>
            <li class="nav-item  {% if controller_name == 'Comerces' %}active open{% endif %}">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="icon-user"></i>
                    <span class="title">{{text.menu_item_2}}</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item">
                        <a href="/{{lang}}/gallery/edit" class="nav-link ">
                            <i class="fa fa-image"></i>
                            <span class="title">{{text.menu_item_2_1}}</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/{{lang}}/description/edit" class="nav-link ">
                            <i class="fa fa-file-text-o"></i>
                            <span class="title">{{text.menu_item_2_2}}</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/{{lang}}/contact/edit" class="nav-link ">
                            <i class="fa fa-envelope-o"></i>
                            <span class="title">{{text.menu_item_2_3}}</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/{{lang}}/payment-method/edit" class="nav-link ">
                            <i class="fa fa-money"></i>
                            <span class="title">{{text.menu_item_2_4}}</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/{{lang}}/about-me/edit" class="nav-link ">
                            <i class="icon-user"></i>
                            <span class="title">{{text.menu_item_2_5}}</span>
                        </a>
                    </li>
                    {#% for key, value in comerces %}
                    <li class="nav-item  {% if controller_name == 'Comerces' and comerce_id == key %}active open{% endif %}">
                        <a href="javascript:;" class="nav-link nav-toggle">
                            <i class="icon-home"></i>&nbsp;<span class="title">{{value}}</span>
                            <span class="arrow {% if controller_name == 'Comerces' and comerce_id == key %}open{% endif %}"></span>
                        </a>
                        <ul class="sub-menu">
                            <li class="nav-item {% if controller_name == 'Comerces' and comerce_id == key and section is defined and section == 'edit' %}active{% endif %}">
                                <a href="/{{lang}}/comerce/edit/{{key}}" class="nav-link ">
                                    <i class="fa fa-pencil"></i>&nbsp;<span class="title">{{text.menu_item_2_1_1}}</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/{{lang}}/comerce/delete/{{key}}" class="nav-link ">
                                   <i class="fa fa-trash"></i>&nbsp;<span class="title">{{text.menu_item_2_1_2}}</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    {% endfor %#}
                </ul>
            </li>

            {# products #}
            <li class="heading">
                <h3 class="uppercase">{{text.menu_item_3_title}}</h3>
            </li>
            <li class="nav-item {% if controller_name == 'Products' %}active open{% endif %}">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="fa fa-diamond"></i>
                    <span class="title">{{text.menu_item_3}}</span>
                    <span class="arrow {% if controller_name == 'Products' %}open{% endif %}"></span>
                </a>
                <ul class="sub-menu">
                    {#<li class="nav-item {% if controller_name == 'Products' and function_name == 'edit' %}active open{% endif %}">
                        <a href="/{{lang}}/products/edit" class="nav-link ">
                            <span class="title">{{text.menu_item_3_1}}</span>
                        </a>
                    </li>#}
                    <li class="nav-item">
                        <a href="/{{lang}}/my-services/edit" class="nav-link ">
                            <i class="fa fa-briefcase"></i>
                            <span class="title">{{text.menu_item_3_1}}</span>
                        </a>
                    </li>
                     <li class="nav-item">
                        <a href="/{{lang}}/payment-method/edit" class="nav-link ">
                            <i class="fa fa-arrow-up"></i>
                            <span class="title">{{text.menu_item_3_2}}</span>
                        </a>
                    </li>
                </ul>
            </li>

        </ul>
        {# END SIDEBAR MENU #}
        {# END SIDEBAR MENU #}
    </div>
    {# END SIDEBAR #}
</div>